/* main page css */
body{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* header */
#head{
    width: 100%;
    height: 70px;
    background:rgb(25, 45, 95);
}
/* navigation bar inside header */
nav{
    padding-top: 20px;
}

#header{
    display: flex; 
}
/* a tag(contact link) */
#navigation{
    padding-left: 1200px;
    font-weight: bold;
    display: flex;
    gap: 15px;
    list-style: none;
    margin-top: 5px;
}
#navigation a{
color: white;
text-decoration: none;
}

#navigation a:hover{
     color: red;
}

/*contact page style*/
#graphic-body{
    width: 100%;
    height: 75rem;
    background-image: url("../image/common_background.png");
    background-position: center;
    background-size:cover; 
}
/* footer */
#foot{
    width: 100%;
    height: 70px; 
    background:rgb(255,204, 217);
}

.graphic{
    margin: 0px;
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-align: center;
}
#division {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2rem;
    background: rgb(241, 197, 197);
    width: 90%;
    margin-left: 2.5rem;
    padding: 2rem;
    margin-top: 2rem;
    overflow: hidden; 
    border-radius: 20px;
}  

.design{
    width: 100%; 
    height: 100%; 
    border-radius: 20px;
    
}

@media screen and (max-width: 1475px) {
    #navigation{
        padding-left: 1000px;
    }

  
}

@media screen and (max-width: 1275px) {
    #navigation{
        padding-left: 800px;
    }

    #division{
        margin-left: 1.5rem;
    }

    .graphic{
        font-size: 55px;  
    }

    
}

@media screen and (max-width: 1075px) {
    #navigation{
        padding-left: 600px;
    }

    #division{
        margin-left: 4rem;
        width: 80%;
        gap: 1.5rem;
        padding: 1.5rem;
    }

    .graphic{
        font-size: 50px;  
    }
   
}

@media screen and (max-width: 875px) {
    #navigation{
        padding-left: 400px;
    }

    #division{
        margin-left: 3rem;  
        
    }

    .graphic{
        font-size: 45px;  
    }
}

@media screen and (max-width: 675px) {
    #navigation{
        padding-left: 20px;
    }

    #division{
          
        grid-template-columns: 1fr ; 
        margin-left: 1.5rem; 
        
    }

    #graphic-body{
        height: 115rem;
    }

    .graphic{
        font-size: 40px;  
    }

    @media screen and (max-width: 400px) {

        #division{
           
            margin-left: 0.9rem; 
        }  
        
    }


     
    
}
