/* main page css */
body{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* header */
#head{
    width: 100%;
    height: 70px;
    background:rgb(25, 45, 95);
}
/* navigation bar inside header */
nav{
    padding-top: 20px;
}

#header{
    display: flex; 
}
/* a tag(contact link) */
#navigation{
    padding-left: 1200px;
    font-weight: bold;
    display: flex;
    gap: 15px;
    list-style: none;
    margin-top: 5px;
}
#navigation a{
color: white;
text-decoration: none;
}

#navigation a:hover{
     color: red;
}

/*contact page style*/
#lunar-body{
    width: 100%;
    height: 45rem;
    background-image: url("../image/common_background.png");
    background-position:center;
    background-size:cover;
    object-fit: cover;
}
/* footer */
#foot{
    width: 100%;
    height: 70px; 
    background:rgb(255,204, 217);
}

.lunar{
    margin: 0px;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    background: rgb(232, 8, 109);
}

.project{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    background: rgb(232, 8, 109);
}  

.details{
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.main-division{
    width: 100%;
    height: 300px;
    display: flex;
    
}

.sub-division{
    width: 545px;
    height: 300px;
    margin-left: 175px;
}

p{
    font-size: 15px;
    color: white; 
    padding-left: 20px;
}

ul{
    color: white;
}

button{
    width: 250px;
    height: 50px;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 20px;
}

button:hover{
    background: rgb(28, 186, 28);
}


@media screen and (max-width: 1475px) {
    #navigation{
        padding-left: 1000px;
    }

}

@media screen and (max-width: 1275px) {
    #navigation{
        padding-left: 800px;
    }  

    .sub-division{
        margin-left: 125px;
    } 
}

@media screen and (max-width: 1075px) {
    #navigation{
        padding-left: 600px;
    }

    .sub-division{
        margin-left: 75px;
        
    } 
   
}

@media screen and (max-width: 875px) {
    #navigation{
        padding-left: 400px;
    }

    #lunar-body{
        height: 70rem;
    }

    .project{
        flex-direction: column;
        justify-content: space-around; 
        padding-left: 30px;
        gap: 260px;
        background: red;
    }

    .details{
        font-size: 20px;
    }

    .main-division{
        flex-direction: column;
    }

    .sub-division{
        margin-left: 5px;
        width: 450px;
    } 

    button{
        margin-left: 120px;
        margin-top: 550px;
        border-radius: 25px;
        
        
    }

    .lunar{
        font-size:35px;
    }

}

@media screen and (max-width: 675px) {
    #navigation{
        padding-left: 25px;
    } 
}

@media screen and (max-width: 475px) {

    .sub-division{
        margin-left: 2px;
        width: 370px;
    } 

    p{
        padding-left: 10px;
    }

    ul{
        padding-left: 25px; 
    }

    .lunar{
        font-size: 25px;
    }

    .project{
        gap: 280px;
    }
    button{
        margin-left: 65px;
        margin-top: 540px;
    } 
}