/* main page css */
body{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* header */
#head{
    width: 100%;
    height: 70px;
    background:rgb(25, 45, 95);
}
/* navigation bar inside header */
nav{
    padding-top: 20px;
}

#header{
    display: flex; 
}
/* a tag(contact link) */
#navigation{
    padding-left: 1200px;
    font-weight: bold;
    display: flex;
    gap: 15px;
    list-style: none;
    margin-top: 5px;
}
#navigation a{
color: white;
text-decoration: none;
}

#navigation a:hover{
     color: red;
}

/*my work page style*/
#work-body{
    width: 100%;
    height: 45rem;
    background-image: url("../image/work.jpg");
    background-position: center;
    object-fit:cover;
    background-size: cover; 
}
/* footer */
#foot{
    width: 100%;
    height: 70px; 
    background:rgb(255,204, 217);
}
/*my work page (my-work)*/
.my-work{
    margin: 0px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}

#work-box{
    width: 85%;
    height: 540px;
    background: rgba(0,0,0,0.85);
    margin-left: 110px;
    margin-top: 5px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}

.work-image{
    width: 100%;
    height: 200px;
    border-radius: 30px;
    border: solid 3px white;
    display: block;
    object-fit: fill;
}
figure{
    margin: 32px;
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 3px;
    left: 3px;
    text-align: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    color: white; 
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
}

figure:hover figcaption {
    background: rgba(9, 232, 9, 0.8);
    color: black;
}


@media screen and (max-width: 1475px) {
    #navigation{
        padding-left: 1000px;
    }
 
}

@media screen and (max-width: 1275px) {
    #navigation{
        padding-left: 800px;
    }
    
    #work-body{
        height: 55rem;
    }

    #work-box{
        height: 805px;
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        margin-left: 80px;
    }
      
}

@media screen and (max-width: 1075px) {
    #navigation{
        padding-left: 600px;
    }
   
}

@media screen and (max-width: 875px) {
    #navigation{
        padding-left: 400px;
    }

    #work-body{
        height: 120rem;
    }

    #work-box{
        height: 1700px;
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        margin-left: 80px;
        background: rgba(0, 0, 0, 0.95);
    }
}

@media screen and (max-width: 675px) {
    #navigation{
        padding-left: 20px;
    }

    #work-box{
        margin-left: 30px;  
    }
  
}