body{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#head{
    width: 100%;
    height: 70px;
    background:rgb(12, 77, 82);
}

nav{
    padding-top: 20px;
}

a{
    padding-left: 1200px;
    text-decoration: none;
    font-weight: bold;
    color: wheat;
}

#main-body{
    width: 100%;
    height: 600px;
    background-image: url("image/header.jpg");
    background-position: center;
    object-fit:cover;
}

#foot{
    width: 100%;
    height: 70px; 
    background:rgb(255,204, 217);
}

#section{
    width: 100%;
    height: 150px;
}

h1{
    margin: 0px;
    font-size: 60px;
    font-weight: bold;
    color: white;
    padding-top: 5px;
    text-align: center;
      
}

.para1{
    margin: 0px;
    font-size: 44px;
    font-weight: bold;
    color: white;
    padding-top: 10px;
    text-align: center;
     
}

/*contact*/
#contact-body{
    width: 100%;
    height: 600px;
    background-image: url("image/contact.jpg");
    background-position: center;
    object-fit:cover;
    background-size: cover; 
}

.contact{
    margin: 0px;
    font-size: 60px;
    font-weight: bold;
    color: white;
    padding-top: 50px;
    padding-left: 600px;
}

#section-form {
    width: 335px;
    height: 350px;
    background: rgb(25, 128, 252);
    border-radius: 10px;
    margin-left: 900px;
}

#contact-form{
    padding-left: 65px; 
    padding-top: 25px;
    font-weight: bold;
    font-size: 13px;
}

.box-size{
    width: 200px;
    height: 25px;
    margin-bottom: 10px;
    
}
.message-box{
    width: 200px;
    height: 75px;
}

.contact-button{
    width: 70px;
    height: 30px;
    margin-top: 10px;
    margin-left: 60px;
}



